@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html, body {
    overflow: hidden;
    height: 100%;
    scroll-behavior: smooth;
}

h2 a {
    color: #922E2E;
    text-decoration: none;
}

h2 a:visited {
    color: #922E2E;
}

h2 a:hover {
    color: #922E2E;
}

h2 a:active {
    color: #922E2E;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu a:visited {
    color: black;
}

.menu a:hover {
    color: black; 
}

.menu a:active {
    color: black;
}

body {
    position: relative; 
    overflow-y: scroll;
    padding-right: 17px;
}

/* 스크롤바 숨기기 */
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

body {
    background-color: #FFEDED;
}

h2 {
    text-align: center;
    color: #922E2E;
    font-family: 'Pretendard-Bold';
    font-size: 30px;
    font-weight: bold;
    margin-top: 70px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.menubar {
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    font-family: 'Pretendard-Bold';
    margin-top: 20px; 
}

.menu {
    display: flex;
    gap: 55px;
    list-style: none;
    margin-top: 6px;
}

.jaju-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 44px;
    cursor: pointer;
}

.jaju-image {
    width: 660px;
    height: 340px;
    object-fit: cover;
}

.discount-container {
    font-family: 'Pretendard-Bold';
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-right: 900px;
    font-size: 18px;
}

.discount-text {
    margin-right: 13px;
}

.discount-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4px;
    margin-bottom: 40px;
    gap: 50px;
    margin-left: 60px;
}

.image-container {
    position: relative;
    width: 320px;
    height: 400px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.5s ease; /* 이미지 색상 변화 효과 */
}

.image-container:hover img {
    filter: brightness(0.5); /* 마우스를 올렸을 때 이미지 어둡게 */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 244, 244, 0.1);
    display: flex;
    justify-content: center; /* 텍스트 수평 중앙 정렬 */
    align-items: center; /* 텍스트 수직 중앙 정렬 */
    opacity: 0; /* 초기 상태에서 숨김 */
    transition: opacity 0.5s ease; /* 부드럽게 나타나는 효과 */
}

.image-container:hover .overlay {
    opacity: 1; /* 마우스를 올렸을 때 배경과 텍스트 표시 */
}

.overlay p {
    font-family: 'Pretendard-Bold';
    color: white;
    font-size: 20px;
}


.discount-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4px;
    margin-bottom: 40px;
    gap: 50px;
    margin-left: 60px;
    cursor: pointer;
}

.fwe, .rom, .nok {
    width: 320px;
    height: 400px;
    position: relative; /* 이미지에 상대적인 위치를 설정 */
}

.chu-container {
    font-family: 'Pretendard-Bold';
    font-weight: bold;
    margin-bottom: 40px;
    cursor: pointer;
}

.chu-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.chu-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4px;
    margin-bottom: 40px;
    gap: 50px;
    margin-left: 60px;
    cursor: pointer;
}

.gu, .peri, .E {
    width: 320px;
    height: 400px;
}

.chuu-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4px;
    margin-bottom: 80px;
    gap: 50px;
    margin-left: 60px;
    cursor: pointer;
}

.H, .rua, .gi {
    width: 320px;
    height: 400px;
}

.footer {
    background-color: #dac7ce;
    color: white;
    text-align: center;
    padding: 100px 0; /* 상하 패딩 */
    position: relative;
    width: 100vw; /* 뷰포트 너비를 100%로 설정하여 가로 끝까지 확장 */
    left: 0; /* 화면의 왼쪽 끝에 맞춤 */
    margin: 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto; 
    font-family: 'Pretendard-SemiBold';
    color: #888395;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text {
    margin: 0;
    font-size: 19px;
    color: #888395;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    margin: 0;
    font-size: 14px; 
}